<div class="jumbotron" style="background-color: #0054A5;color: white">
    <h2 class="text-center pt-5"><b>Our Process and Approach</b></h2>
</div>
<div class="container-fluid text-center pb-5">
    <!-- <h1 class="text-center" style="color: gray"> <b>Step 1</b></h1> -->
    <hr class="hr-text" data-content="Step 1">
    <h3 class="text-center pt-4"><b style="color: blue">Share Your idea!!</b></h3>
    <img class="pt-5"src="../../assets/image/how we work 1.png" alt="how we work">
    <h4 style="color: gray"><b>It all begins with a vision...</b></h4>
 
        <p>First, you share your idea with us, what inspired you, who is your target<br> audience,what's your revenue model, etc. 
                Once you approach us with your<br> idea, we break it down into simpler bits. Based on the findings we analyze,<br> brainstorm, research, 
                and create a strategy for successful development.</p>
  </div>
  <div class="container-fluid text-center">
        <hr class="hr-text" data-content="Step 2">
        <h3 class="text-center pt-4"><b style="color: blue">Getting on the Same Page</b></h3>
  </div>
  <div class="container-fluid text-center">
        <hr class="hr-text" data-content="Step 3">
        <h3 class="text-center pt-4"><b style="color: blue">Nurturing Your Vision</b></h3>
  </div>
  <div class="container-fluid text-center pb-5">
        <hr class="hr-text" data-content="Step 4">
        <h3 class="text-center pt-4 pb-5"><b style="color: blue">Execution Begins...</b></h3>
        <div class="container">
              <div class="row">
                    <div class="col-sm-4">
                          <img src="../../assets/image/introduction how we work.png" alt="">
                          <p>Introduction</p>
                          <p>Get started with your team</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="../../assets/image/deliverable how we work.png" alt="">
                        <p>Deliverables</p>
                        <p>Learn about different deliverables and their respective timelines via SRS document.</p>
                  </div>
                  <div class="col-sm-4">
                        <img src="../../assets/image/manage how we work.png" alt="">
                        <p>Manage</p>
                        <p>We onboard you on BASECAMP (our project management tool) to discuss the details and progress of your project.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                        <img src="../../assets/image/communicate how we work.png" alt="">
                        <p>Communicate</p>
                        <p>Timely interaction with your team members as per your convienence.</p>
                  </div>
                  <div class="col-sm-4">
                      <img src="../../assets/image/testing how we work.png" alt="">
                      <p>Testing</p>
                      <p>Your product gets tested under rigorous parameters to ensure the best quality.</p>
                </div>
                <div class="col-sm-4">
                      <img src="../../assets/image/deploy how we work.png" alt="">
                      <p>Deploy</p>
                      <p>Your masterpiece is deployed for the world to see the impact of your idea.</p>
                </div>
            </div>
        </div>
  </div> 
  <div class="jumbotron text-center" style="background-color: #0054A5;color: white">
      <h2 class="text-center pt-5"><b>A Future-proof, intuitive design, with better engineering</b></h2>
      <button class="btn btn-outline-light text-center">TALK TO AN EXPERT
      </button>
  </div>   

  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin: 0%">USA:+1 (720)­­­ 207 0369</p>
            <p >UK:­+44 (0) 203 687 2280</p><br>
            <p style="margin: 0%">contact@iflexion.com</p><br>
            <p>3900 S. Wadsworth Blvd., Denver, <br>CO 80235</p>
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Blogs</h5>
  
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
  
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Startups</a>
              </li>
              <li>
                <a href="#!">Enterprises</a>
              </li>
              <li>
                <a href="#!">Consultation</a>
              </li>
              <li>
                <a href="#!">Career</a>
              </li>
              <li>
                  <a href="#!">Contact Us</a>
                </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Terms & Condition</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">NDA</a>
              </li>
            </ul>
  
          </div>
          
           <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nesciunt aliquam aspernatur aut ea soluta harum doloremque eius 
                  dolorem, debitis, vel accusantium. Soluta, dicta voluptatum accusamus nisi odio mollitia perspiciatis.
                </p>
           
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <hr>
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1"><b>We're Hiring</b></h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Submit Your Resume</a>
        </li>
      </ul>
      <!-- Call to action -->
  
      <hr>
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
