<section class="jumbotron text-center" style="background-color: #005688;color: white">
  <div class="container">
      <h1 class="jumbotron-heading" style="margin-top: 35px;">Contact To Edunomics</h1>
     <hr class="outline">
  </div>
</section>
<section>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card-columns" style="text-align: left">
                    <div class="card ">
                        <div class="card-body  " >
                            <!-- <a href="#" class="twitter"><i class="fa fa-industry fa-4x" aria-hidden="true"></i></a> -->
                            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e46b3c515785da4d7_Enterprise%20Applications_hover.svg" alt="application" class="smt-link-card__img">
                            <h4 class="pt-3"><b>Live chat</b></h4><br>
                            <p>Wait time: less than 2 minutes</p>
                            <p>Working hours: 8:00am - 3:00pm</p>
                            <button type="button" class="btn bbt btn-outline-elegant btn-rounded waves-effect"> AVAILABLE SOON</button><br><br>
                          
                        </div>
                    </div><br>

                    <div class="card ">
                        <div class="card-body " style="text-align: left">
                            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f169e4904ea18166b7c75_Mobile%20Applications_hover.svg" alt="application" class="smt-link-card__img">
                            <h4 class="pt-3"><b>Schedule a meeting</b></h4><br>
                         <p>Mail us at contact@tech.edunomics.in :</p>
                         <p>Get a call within 24hrs</p>
                         <button type="button" class="btn bbt btn-outline-elegant btn-rounded waves-effect">
                            SCHEDULE</button><br><br>
                        </div>
                    </div>
                    
                    
                    <div class="card ">
                        <div class="card-body " style="text-align: left">
                            <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d2f16a05699e9ec34fe0f66_Startup%20solutions_hover.svg" alt="development" class="smt-link-card__img">
                            <h4 class="pt-2"><b>Submit a request</b></h4><br>
                          <p>Send a request directly to us!</p>
                          <p>Maximun response time: within 1 business day</p>
                          <button type="button" class="btn bbt1 btn-outline-elegant btn-rounded waves-effect">SUBMIT</button><br>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>

                    <div class="container pt-5 pb-5 text-center">
                      <h2>Call or Mail us at :</h2>
                      <h5 class="pt-3">Dial (512) 270-6459, 9:00 AM - 5:00 PM CST, email: contact@tech.edunomics.in</h5>
                    </div>

                  
      <p class="title t1"><strong>To learn how Edunomics can transform your business, schedule a free consultation today!</strong></p>
      <div class="container">  
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                <p> First Name* </p> <input type="text" name="name" class="form-control" >
                </div>
                <div class="col-sm-6">
                   <p> Last Name* </p> <input type="text" name="name" class="form-control">
                  </div>
              </div>
              <br>
                  <div class="row">
                      <div class="col-sm-6">
                         <p> Phone #* </p> <input type="text" name="name" class="form-control" >
                      </div>
                      <div class="col-sm-6">
                          <p>Business e-mail* </p> <input type="text" name="name" class="form-control">
                        </div>
              </div><br><br>
              <div class="comp">
                <p> Company Name*</p> <input type="text" name="name" class="form-control">
              </div>
            
          </div>
            <div class="col-sm-6">
               <p style="margin-left: 20px;">What can we help you with?</p> <textarea name="textarea" id="textarea" cols="20" rows="10" class="form-control" ></textarea>
              </div>
          </div>
          <br>
            <button type="button" style="font-size:20px;" class="btn btn1 btn-outline-elegant btn-rounded waves-effect">Send</button>
        </form>
      </div>
   

 <!-- footer -->
 <footer class="text-light f1">
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5>BLOGS</h5>
            
                <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ml-3">Edunomics Tech Solution</h5>
            <p style="margin-left: 15%;color:white">contact@edunomics.in</p>
            </div>
            <hr>
            <p style="margin-left: 15%;color:white">BUSINESS HOURS <br>24*7</p>
          <hr>
           <!-- Social buttons -->
      <div class="row">
          <span>
            <p class="edu">2019 : Edunomics</p>
          </span>
         <div>
                       <ul class="list-unstyled lu list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="wh" mdbWavesEffect>
              <mdb-icon fab icon="whatsapp"></mdb-icon>
            </a>
          </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
          </div>
          
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a href="">Custom Software Development</a></li>
                    <li><a href=""> Mobile Software Development</a></li>
                    <li><a href="">Software Prototyping</a></li>
                    <li><a href=""> Dedicated Development Teams</a></li>
                    <li><a href="">Software Maintenance Program</a></li>
                    <li><a href="">Software Product Development</a></li>
                    <li><a href="">Quality Assurance</a></li>
                    <li><a href="">Legacy Software Migration</a></li>
                    <li><a href=""> DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a routerLink="">DMS</a></li>
                    <li><a routerLink="">SMS</a></li>
                    <li><a routerLink="">CMS</a></li>
                    <li><a routerLink="">IOT</a></li>
                    <li><a routerLink="">Mobile</a></li>
                    <li><a routerLink="">Web Applications</a></li>
                    <li><a routerLink="">Cost Finder</a></li>
                    <li><a routerLink="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/career">- Career</a></li>
                    <li><a routerLink="/Affiliate-Programme">- Affiliate Program</a></li>
                    <li><a routerLink="/about">- About Us</a></li>
                    <li><a routerLink="how-we-work">- How we work</a></li>
                    <li><a routerLink="#">- Startups</a></li>
                    <li><a routerLink="#">- Resources</a></li>
                    <li><a routerLink="/contact">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a routerLink="">Education</a></li>
                    <li><a routerLink="">Retail & Wholesale</a></li>
                    <li><a routerLink="">Construction</a></li>
                    <li><a routerLink="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
     
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/solution">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>

<footer class="text-light f2">
    <div class="container">
        <h5 class="font-weight-bold" style="text-align: center;  margin-left:10px;">Edunomics Tech Solution</h5>
        <h6 style="text-align: center;">9082626356</h6>
        <h6 style="text-align: center;">Business Hours</h6>
        <p style="text-align: center;">24*7</p>
        <h6 style="text-align: center;">contact@edunomics.in</h6>
        <hr>
        <h5 class="font-weight-bold" style="text-align: center;">Quick Links</h5>
       <a class="nav-link" routerLink="/about"><h6 style="text-align: center;">About Us</h6></a>
       <a class="nav-link" routerLink="/team"><h6 style="text-align: center;">Our Team</h6></a>
         <a class="nav-link" routerLink="/blog"><h6 style="text-align: center;">Our Blog</h6></a>
        <a class="nav-link" routerLink="/solution"><h6 style="text-align: center;">Solution</h6></a>
        <hr>
        
 <!-- Social buttons -->
 <div class="row row1">
    <div class="col-sm-6 column">
      <p class="">2019 : Edunomics</p>
    </div>
   <div class="col-sm-6 column">
                 <ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="fb" mdbWavesEffect>
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="tw" mdbWavesEffect>
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
      <mdb-icon fab fab icon="google-plus"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="li" mdbWavesEffect>
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
      <!-- <a routerLink="#" mdbBtn floating="true" color="wh" mdbWavesEffect>
        <mdb-icon fab icon="whatsapp"></mdb-icon>
      </a> -->
      <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whats" fab icon="whatsapp"></mdb-icon></a>
    </li>
</ul>
</div>

</div>

<!-- Social buttons -->
      </div>

      <hr>
      <!-- Copyright -->
   
</footer>
<div class="row last1 fixed-bottom">
    <div class="col-sm-6">
        <!-- <a mdbBtn floating="true" color="wh" mdbWavesEffect>
            
          </a>  -->
          <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whats" fab icon="whatsapp"></mdb-icon></a>
          <span>
              <a mdbBtn floating="true" color="ph" mdbWavesEffect>
              <mdb-icon class="phone" fas icon="phone-volume"></mdb-icon></a></span>
    </div>
</div>




  