
<body>
    <section class="jumbotron text-center" style="background-color: #005688;color: white">

        <div class="container">
    
            <h1 class="jumbotron-heading" style="margin-top: 35px;"><b>Discover Renault</b></h1>
    
         <hr class="outline">
    
        </div>
    
      </section>
        <section>
          <div class="container-fluid">
            <img src="../../assets/image/22.png" width="100%" />
            <div class="text  text-center ">NATURE</div>
            <p>
              As consumers, we tend to focus on the price of the insurance,<br />
              but there are ways to balance price with value if you can <br />
              understand the basics behind your home & auto insurance policy.
            </p>
          </div>
        </section>

        
 <!-- footer -->
 <footer class="text-light f1">
    <div class="container">
        <div class="row vdivide">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>BLOGS</h5>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edunomics Tech Solution</h5>
            <p style="margin-left: 15%">contact@edunomics.in</p>
            </div>
            <hr>
            <div class="row">
            
            <p style="margin-left: 15%">BUSINESS HOURS <br>24*7</p>
            </div>
          </div>
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>SERVICES</h5>
               
                <!-- <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul> -->
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a routerLink="">DMS</a></li>
                    <li><a routerLink="">SMS</a></li>
                    <li><a routerLink="">CMS</a></li>
                    <li><a routerLink="">IOT</a></li>
                    <li><a routerLink="">Mobile</a></li>
                    <li><a routerLink="">Web Applications</a></li>
                    <li><a routerLink="">Cost Finder</a></li>
                    <li><a routerLink="">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/career">- Career</a></li>
                    <li><a routerLink="/Affiliate-Programme">- Affiliate Program</a></li>
                    <li><a routerLink="/about">- About Us</a></li>
                    <li><a routerLink="how-we-work">- How we work</a></li>
                    <li><a routerLink="#">- Startups</a></li>
                    <li><a routerLink="#">- Resources</a></li>
                    <li><a routerLink="/contact">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a routerLink="">Education</a></li>
                    <li><a routerLink="">Retail & Wholesale</a></li>
                    <li><a routerLink="">Construction</a></li>
                    <li><a routerLink="">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
      <hr>
  
      <!-- Social buttons -->
      <div class="row">
          <div class="col-sm-6">
            <p class="edu">2019 : Edunomics</p>
          </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="wh" mdbWavesEffect>
              <mdb-icon fab icon="whatsapp"></mdb-icon>
            </a>
          </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" routerLink="/solution">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/service">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/about">About Us</a>
            </li>
                <li class="nav-item">
                      <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>

<footer class="text-light f2">
    <div class="container">
        <h5 class="font-weight-bold" style="text-align: center;  margin-left:10px;">Edunomics Tech Solution</h5>
        <h6 style="text-align: center;">9082626356</h6>
        <h6 style="text-align: center;">Business Hours</h6>
        <p style="text-align: center;">24*7</p>
        <h6 style="text-align: center;">contact@edunomics.in</h6>
        <hr>
        <h5 class="font-weight-bold" style="text-align: center;">Quick Links</h5>
       <a class="nav-link" routerLink="/about"><h6 style="text-align: center;">About Us</h6></a>
       <a class="nav-link" routerLink="/team"><h6 style="text-align: center;">Our Team</h6></a>
         <a class="nav-link" routerLink="/blog"><h6 style="text-align: center;">Our Blog</h6></a>
        <a class="nav-link" routerLink="/solution"><h6 style="text-align: center;">Solution</h6></a>
        <hr>
        
 <!-- Social buttons -->
 <div class="row row1">
    <div class="col-sm-6 column">
      <p class="">2019 : Edunomics</p>
    </div>
   <div class="col-sm-6 column">
                 <ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="fb" mdbWavesEffect>
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="tw" mdbWavesEffect>
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
      <mdb-icon fab fab icon="google-plus"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="li" mdbWavesEffect>
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
      <a routerLink="#" mdbBtn floating="true" color="wh" mdbWavesEffect>
        <mdb-icon fab icon="whatsapp"></mdb-icon>
      </a>
    </li>
</ul>
</div>

</div>

<!-- Social buttons -->
      </div>

      <hr>
      <!-- Copyright -->
   
</footer>
<div class="row last1 fixed-bottom">
    <div class="col-sm-6">
        <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whats" fab icon="whatsapp"></mdb-icon></a>
         <span>
              <a mdbBtn floating="true" color="ph" mdbWavesEffect>
              <mdb-icon class="phone" fas icon="phone-volume"></mdb-icon></a></span>
    </div>
</div>




  
      </body>