<!-- Carousel -->
<!-- <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel"> -->

<!--Slides-->
<!-- <div class="carousel-inner" role="listbox"> -->
<!-- First slide -->
<!-- <div class="carousel-item active"> -->
<!--Mask color-->
<!-- <div class="view"> -->
<!--Video source-->
<!-- <video class="video-fluid" autoplay loop muted>
              <source class="vid" src="" type="video/mp4" />
            </video>
            <div class="mask rgba-indigo-light"></div>
          </div> -->

<!--Caption-->
<!-- <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h1>Edunomics Tech Solutions is a custom software development company</h1>
              <h2>Edunomics provides turn-key software development services that add value to your business. Contact us today and transform your ideas into solutions!</h2>
            </div>
          </div> -->
<!--Caption-->
<!-- </div>
      </div> -->

<div>
  <div class="view">
    <div class="animation-element slide-left">
      <h1>
        Edunomics Tech Solutions is a <br />custom software development company
      </h1>
      <h2>
        Edunomics provides turn-key software development services that add value
        to your business. <br />
        Contact us today and transform your ideas into solutions!
      </h2>
      <a routerLink="/contact">
        <button
          type="button"
          style="font-size:20px;"
          class="btn bbtt btn-outline-white btn-rounded waves-effect"
        >
          Contact Us
        </button></a
      >
    </div>
    <div class="video-parallax">
      <video
        class="video-parall"
        src="https://mdbootstrap.com/img/video/Lines.mp4"
        autoplay=""
        loop=""
      ></video>
    </div>
    <!-- </div> -->
  </div>

  <!-- //Why choose edunomics// -->

  <div class="row rrr">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- Card content -->
      <div
        id="my-div"
        class="jumbotron z-depth-3 jum animation-element slide-left"
      >
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <p class="card-title ct"><b>Why choose Edunomics?</b></p>
          <!-- Subtitle -->
          <p class="card-title" style="font-size:20px;">
            <b>Lets evolve the answer/journey</b>
          </p>
          <div class="smooth-scroll">
            <a href="#scroll1">
              <button
                type="button"
                style="font-size:20px;"
                class="btn btnn1 btn-outline-elegant btn-rounded waves-effect"
              >
                What we do
              </button></a
            >
            <a href="#scroll2">
              <button
                type="button"
                style="font-size:20px;"
                class="btn btnn2 btn-outline-elegant btn-rounded waves-effect"
              >
                Who we serve
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <p class="card-text" style="font-size:20px;margin-left:40px;">
        Edunomics offers customers a wealth of technical and business expertise.
        We create diverse, complex, web and mobile solutions for any business
        need. Our knowledge and experience add value and peace of mind to our
        customers. With Edunomics you get quality software and perfect service
        every time.
      </p>
    </div>
  </div>
  <!-- What we do -->
  <div class="row rr2" id="scroll1">
    <div class="col-lg-6 col-md-6 col-sm-6 coll animation-element slide-up">
      <p class="pp1">What We Do</p>
      <p class="pp2">
        To learn more about how we can help your business, check out our areas
        of expertise and don't hesitate to shoot us a question!
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card cd1">
        <a routerLink="#">
          <p class="p1"><b>Custom Software Development</b></p></a
        >
        <p class="p2">
          We listen to your ideas and create custom software solutions from the
          ground, designed especially for your business. Edunomics customers
          agree that our engineers and executive team are some of the best. You
          can trust that we'll do it right in the first place.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 ">
      <div class="card cd11">
        <a routerLink="#">
          <p class="pq"><b>Quality Assurance</b></p></a
        >
        <p class="pq1">
          We believe in doing it right every time - that's why our Quality
          Assurance and Production teams work separately. We conduct thorough
          and rigorous QA checks on all of our projects. We can also check
          third-party products to ensure you're getting what you expect.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 ">
      <div class="card cd11 cdd">
        <a routerLink="#">
          <p class="pq" style="color:#5c3c8b"><b>Product Development</b></p></a
        >
        <p class="pq1">
          We've created, engineered, and delivered software solutions for
          companies in almost every industry. Edunomics customers get the best
          results every time because of our passion, expertise, and experience.
        </p>
      </div>
    </div>
  </div>
  <div class="row r">
    <div class="col-lg-6 col-md-6 col-sm-6 ">
      <div class="card cd1">
        <a routerLink="#">
          <p class="pqp"><b>Business Analysis</b></p></a
        >
        <p class="pqp1">
          Before Edunomics actually engineers a product, we always talk to our
          customers to understand their needs. Our team can analyze your
          project's functionality, business logic, software architecture, and
          future user scenarios. We'll sweat the small stuff so you can focus on
          the big picture.
        </p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="view animation-element slide-left">
        <img class="" src="../../assets/image/rocket.jpg" alt="placeholder " />
        <div class="mask waves-effect waves-light rgba-black-light">
          <p class="white-text wtt">
            Have a project or business idea? Push the button to get started!
          </p>
          <button
            type="button"
            class="btn bbt btn-light btn-rounded waves-effect"
          >
            Get Started Today
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card cd11">
        <a routerLink="#">
          <p class="pq" style="color:#00758b">
            <b>Legacy Software Modernization</b>
          </p></a
        >
        <p class="pq1">
          Edunomics offers a service to update or replace your outdated legacy
          systems with cutting-edge new technologies and efficient custom
          software systems. We will bring back the efficiency of your business
          and get it to the new level to outrun your competition.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card cd11">
        <a routerLink="#">
          <p class="pq" style="color:#149f81">
            <b>Leveraging Your Resources</b>
          </p></a
        >
        <p class="pq11">
          Each Edunomics client works with a handpicked team of our experts.
          From idea to implementation, we can leverage your existing resources
          or become your new IT crew.
        </p>
      </div>
    </div>
  </div>

  <!-- who we serve -->
  <div class="row ro" id="scroll2">
    <div class="col-lg-6 col-md-6 col-sm-6 animation-element slide-left">
      <!-- Card content -->
      <div class="jumbotron z-depth-3 jum">
        <div class="card-body text-center">
          <!-- Title -->
          <p class="title"><strong>Who we serve</strong></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 ">
      <p class="text">
        Edunomics serves businesses in all major sectors, providing exceptional
        software solutions for large corporations, mid-sized enterprises, and
        startups. We use industry-specific knowledge and custom-tailor our
        products to each customer's unique needs.
      </p>
    </div>
  </div>

  <!-- who we serve next section -->
  <div class="container-fluid">
    <div class="row ro1">
      <div class="col-lg-3 col-sm-3 colun  animation-element slide-up">
        <img src="../../assets/image/manage how we work.png" />
        <a routerLink="#">
          <p class="aa">Construction</p>
          <p style="font-weight: normal;">
            From the finances to the finish outs, our custom construction
            management solutions make it easy to track and manage the many
            facets of construction projects, including single-family homes,
            mixed-use condos, large office buildings, and everything in between.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-sm-3 colun animation-element slide-up">
        <img src="../../assets/image/introduction how we work.png" />
        <a routerLink="#">
          <p class="aa">Wholesale and Retail</p>
          <p style="font-weight: normal;">
            The CRM systems we have designed and supported handle comprehensive
            operations for wholesale and retail providers—inventory, invoicing,
            tracking, shipping, and more. Syberry’s expert engineers can
            custom-build a system that fits and improves your existing business
            processes.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-sm-3 colun animation-element slide-up">
        <img src="../../assets/image/deliverable how we work.png" />
        <a routerLink="#">
          <p class="aa">Education</p>
          <p style="font-weight: normal;">
            We're a little nerdy, so we know a lot about education. From
            e-learning and training portals to certification software, a custom
            Edunomics solution will add value for your students and
            organization.
          </p>
        </a>
      </div>
      <div class="col-lg-3 col-sm-3 colun animation-element slide-up">
        <img src="../../assets/image/deploy how we work.png" />
        <a routerLink="#">
          <p class="aa">Transportation</p>
          <p style="font-weight: normal;">
            From dispatching and job assignments to cargo tracking, ordering
            automation, and performance monitoring, Edunomics custom solutions
            and applications add considerable value companies, working in the
            transportation and logistics industry.
          </p>
        </a>
      </div>
    </div>
  </div>

  <p class="n">
    Don’t see your industry here? We can help. Talk to our Solution Director
    today!
  </p>

  <!-- //client -->
  <div class="row ro">
    <div class="col-lg-6 col-md-6 col-sm-6 animation-element slide-left">
      <!-- Card content -->
      <div class="jumbotron z-depth-3 jum">
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <p class="title tt "><b>What we have created</b></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6"></div>
  </div>

  <div class="customer-logos">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      style="width: 100vw; height: 20vh;"
    >
      <div ngxSlickItem *ngFor="let img of imgs | async" style="width: 100vw; height: 20vh;" class="slide">
        <img [src]="img.src" alt="" height="100vh" style="height: 20vh; object-fit: contain;"/>
      </div>
    </ngx-slick-carousel>

    <!-- <div class="slide"><img src="../../assets/image/5 elements.jpg"></div>
      <div class="slide"><img src="../../assets/image/eqip.png"></div>
      <div class="slide"><img src="../../assets/image/rcd.png"></div>
      <div class="slide"><img src="../../assets/image/packmegood.jpeg"></div> -->
  </div>
  <!-- //end client/ -->
  <div class="grid">
    <div class="row" *ngIf="homeProjects?.length">
      <div
        [style.background-image]="'url(' + homeProjects[0].src + ')'"
        class="col-lg-6 col-md-6 col-sm-6 col1"
      >
        <p class="white-text wt">{{ homeProjects[0].heading }}</p>
        <p class="white-text tw">{{ homeProjects[0].para }}</p>
        <p class="white-text tw">
          <b> Technology:</b> {{ homeProjects[0].technologies }}
        </p>
      </div>
      <div
        [style.background-image]="'url(' + homeProjects[1].src + ')'"
        class="col-lg-6 col-md-6 col-sm-6 col2"
      >
        <p class="white-text wt">{{ homeProjects[1].heading }}</p>
        <p class="white-text tw">{{ homeProjects[1].para }}</p>
        <p class="white-text tw">
          <b>Technology:</b> {{ homeProjects[1].technologies }}
        </p>
      </div>
    </div>

    <div class="row" *ngIf="homeProjectsSmall?.length && homeProjects?.length">
      <div class="col-lg-6 col-md-6 col-sm-6 col3 img-fluid ">
        <div class="row">
          <div
            [style.background-image]="'url(' + homeProjectsSmall[0].src + ')'"
            class="col-lg-6 col-md-6 col-sm-6 col4"
          >
            <p class="white-text wt1">{{ homeProjectsSmall[0].heading }}</p>
          </div>
          <div
            [style.background-image]="'url(' + homeProjectsSmall[1].src + ')'"
            class="col-lg-6 col-md-6 col-sm-6 col5"
          >
            <p class="white-text wt1">{{ homeProjectsSmall[1].heading }}</p>
          </div>
        </div>
        <div class="row">
          <div
            [style.background-image]="'url(' + homeProjectsSmall[2].src + ')'"
            class="col-lg-6 col-md-6 col-sm-6 col6"
          >
            <p class="white-text wt1">{{ homeProjectsSmall[2].heading }}</p>
          </div>
          <div
            [style.background-image]="'url(' + homeProjectsSmall[3].src + ')'"
            class="col-lg-6 col-md-6 col-sm-6  col7"
          >
            <p class="white-text wt1">{{ homeProjectsSmall[3].heading }}</p>
          </div>
        </div>
      </div>
      <div
        [style.background-image]="'url(' + homeProjects[2].src + ')'"
        class="col-lg-6 col-md-6 col-sm-6 col8"
      >
        <div class="tex">
          <p class="white-text wt">{{ homeProjects[2].heading }}</p>
          <p class="white-text tw">{{ homeProjects[2].para }}</p>
          <p class="white-text tw">
            <b>Technology:</b> {{ homeProjects[2].technologies }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="view v1">
    <img
      src="../../assets/image/sunimg.jpg"
      class="img-fluid im1"
      alt="placeholder"
    />
    <div class="mask  waves-effect waves-light rgba-black-light">
      <p class="ww">What We Promise</p>
      <p class="white-text">
        <mdb-icon fas icon="check" style="padding:5px;"></mdb-icon>Edunomics
        biggest concern when choosing a technology is how it fits our customer's
        needs.
      </p>
      <p class="white-text p11">
        <mdb-icon fas icon="check" style="padding:5px;"></mdb-icon>Edunomics
        does not resell any platforms or technologies of the third party
        vendors. We promise that we never have any commercial incentive while
        choosing a technology or approach, we base our decision only on the fact
        how our customers would benefit from it.
      </p>
      <p class="white-text">
        <mdb-icon fas icon="check" style="padding:5px;"></mdb-icon>Our
        customers' time is their money, so completing every project on time is
        one of Edunomics biggest priorities.
      </p>
      <p class="white-text p22">
        <mdb-icon fas icon="check" style="padding:5px;"></mdb-icon>Edunomics
        values their customers, so that we provide fair and transparent pricing.
      </p>
    </div>
  </div>

  <!--  -->

  <p class="title t1">
    <strong
      >To learn how Edunomics can transform your business, schedule a free
      consultation today!</strong
    >
  </p>
  <div class="container">
    <div class="row">
      <img
        class="im"
        src="../../assets/image/deliverable how we work.png"
      /><span id="sp">We're ready to sign NDA agreement</span>

      <hr class="hh" />

      <img class="im2" src="../../assets/image/manage how we work.png" /><span
        id="sp1"
        >RFP analysis is absolutely free</span
      >
      <hr class="hh" />

      <img
        class="im3"
        src="../../assets/image/communicate how we work.png"
      /><span id="sp11">We will respond to you within 24 hours </span>
    </div>

    <form>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <p>First Name*</p>
              <input type="text" name="name" class="form-control" />
            </div>
            <div class="col-sm-6">
              <p>Last Name*</p>
              <input type="text" name="name" class="form-control" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-6">
              <p>Phone #*</p>
              <input type="text" name="name" class="form-control" />
            </div>
            <div class="col-sm-6">
              <p>Business e-mail*</p>
              <input type="text" name="name" class="form-control" />
            </div>
          </div>
          <br /><br />
          <div class="comp">
            <p>Company Name*</p>
            <input type="text" name="name" class="form-control" />
          </div>
        </div>
        <div class="col-sm-6">
          <p style="margin-left: 20px;">What can we help you with?</p>
          <textarea
            name="textarea"
            id="textarea"
            cols="20"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <br />
      <button
        type="button"
        style="font-size:20px;"
        class="btn btn1 btn-outline-elegant btn-rounded waves-effect"
      >
        Send
      </button>
    </form>
  </div>

  <!-- footer -->
  <footer class="text-light f1">
    <div class="container-fluid">
      <div class="row vdivide">
        <div class="col-md-4 col-lg-4 col-xl-4">
          <h5>BLOGS</h5>

          <p style="color:white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            sequi est sit quod
          </p>
          <br />
          <p style="color:white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            sequi est sit quod
          </p>
          <hr class="mx-auto" />
          <div class="row">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ml-3">
              Edunomics Tech Solution
            </h5>
            <p style="margin-left: 15%;color:white">contact@edunomics.in</p>
          </div>
          <hr />
          <p style="margin-left: 15%;color:white">BUSINESS HOURS <br />24*7</p>
          <hr />
          <!-- Social buttons -->
          <div class="row">
            <span>
              <p class="edu">2019 : Edunomics</p>
            </span>
            <div>
              <ul class="list-unstyled lu list-inline text-center">
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="fb" mdbWavesEffect>
                    <mdb-icon fab icon="facebook"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="tw" mdbWavesEffect>
                    <mdb-icon fab icon="twitter"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="gplus" mdbWavesEffect>
                    <mdb-icon fab fab icon="google-plus"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="li" mdbWavesEffect>
                    <mdb-icon fab icon="linkedin"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="wh" mdbWavesEffect>
                    <mdb-icon fab icon="whatsapp"></mdb-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Social buttons -->
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <h5>SERVICES</h5>

          <ul class="list-unstyled">
            <li><a routerLink="/come">Custom Software Development</a></li>
            <li><a routerLink="/come"> Mobile Software Development</a></li>
            <li><a routerLink="/come">Software Prototyping</a></li>
            <li><a routerLink="/come"> Dedicated Development Teams</a></li>
            <li><a routerLink="/come">Software Maintenance Program</a></li>
            <li><a routerLink="/come">Software Product Development</a></li>
            <li><a routerLink="/come">Quality Assurance</a></li>
            <li><a routerLink="/come">Legacy Software Migration</a></li>
            <li><a routerLink="/come"> DevOps Automation</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <h5>SOLUTIONS</h5>

          <ul class="list-unstyled">
            <li><a routerLink="/come">DMS</a></li>
            <li><a routerLink="/come">SMS</a></li>
            <li><a routerLink="/come">CMS</a></li>
            <li><a routerLink="/come">IOT</a></li>
            <li><a routerLink="/come">Mobile</a></li>
            <li><a routerLink="/come">Web Applications</a></li>
            <li><a routerLink="/come">Cost Finder</a></li>
            <li><a routerLink="/come">Tracking</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/career">- Career</a></li>
            <li>
              <a routerLink="/Affiliate-Programme">- Affiliate Program</a>
            </li>
            <li><a routerLink="/about">- About Us</a></li>
            <li><a routerLink="how-we-work">- How we work</a></li>
            <li><a routerLink="/come">- Startups</a></li>
            <li><a routerLink="/blog">- Blog</a></li>
            <li><a routerLink="/whitepaper">- White Paper</a></li>
            <li><a routerLink="/contact">- Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 ">
          <h5>INDUSTRY</h5>

          <ul class="list-unstyled">
            <li><a routerLink="/come">Education</a></li>
            <li><a routerLink="/come">Retail & Wholesale</a></li>
            <li><a routerLink="/come">Construction</a></li>
            <li><a routerLink="/come">Transpotation</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <hr />
    <div class="navbar navbar-expand-md navbar-fixed-bottom">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/solution">Solution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- Copyright -->
  </footer>

  <footer class="text-light f2">
    <div class="container">
      <h5
        class="font-weight-bold"
        style="text-align: center;  margin-left:10px;"
      >
        Edunomics Tech Solution
      </h5>
      <h6 style="text-align: center;">9082626356</h6>
      <h6 style="text-align: center;">Business Hours</h6>
      <p class="e" style="text-align: center;">24*7</p>
      <h6 style="text-align: center;">contact@edunomics.in</h6>
      <hr />
      <h5 class="font-weight-bold" style="text-align: center;">Quick Links</h5>
      <a class="nav-link" routerLink="/about"
        ><h6 style="text-align: center;">About Us</h6></a
      >
      <a class="nav-link" routerLink="/team"
        ><h6 style="text-align: center;">Our Team</h6></a
      >
      <a class="nav-link" routerLink="/blog"
        ><h6 style="text-align: center;">Our Blog</h6></a
      >
      <a class="nav-link" routerLink="/solution"
        ><h6 style="text-align: center;">Solution</h6></a
      >
      <hr />

      <!-- Social buttons -->
      <div class="row row1">
        <div class="col-sm-6 column">
          <p class="e1">2019 : Edunomics</p>
        </div>
        <div class="col-sm-6 column">
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="fb" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="tw" mdbWavesEffect>
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="gplus" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="li" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <!-- <a routerLink="#" mdbBtn floating="true" color="wh" mdbWavesEffect>
        <mdb-icon fab icon="whatsapp"></mdb-icon>
      </a> -->
              <mdb-icon class="whats" fab icon="whatsapp"></mdb-icon>
            </li>
          </ul>
        </div>
      </div>

      <!-- Social buttons -->
    </div>

    <hr />
    <!-- Copyright -->
  </footer>
  <div class="row last1 fixed-bottom">
    <span>
      <a mdbBtn floating="true" color="ph" mdbWavesEffect>
        <mdb-icon class="phone" fas icon="phone"></mdb-icon
      ></a>
    </span>
    <span class="vertical-line"></span>
    <span>
      <a routerLink="/solution" class="ser">Solution</a>
    </span>
    <span class="vertical-line"></span>
    <span>
      <a routerLink="/service" class="ser1">Service</a>
    </span>
    <span class="vertical-line"></span>
    <span>
      <a href="https://wa.me/908262356" target="_blank"
        ><mdb-icon class="whatss" fab icon="whatsapp"></mdb-icon
      ></a>
    </span>
  </div>
</div>
