
<body>
    <section class="jumbotron text-center" style="background-color: #005688">
            <div class="container">
                <h1 class=" aa jumbotron-heading" style="margin-top: 35px;color:#fff">Edunomics Affiliate Program</h1>
                <p class="lead text-muted"><b  style="color:#fff">Join the leading SaaS affiliate program to earn $5 for every lead you bring in and  15% every sale</b></p>
            <div class="pt-4">
                    <button type="button" style="font-size:20px;" class="btn bbt btn-outline-white btn-rounded waves-effect">BECOME AN AFFILIATE</button>
            </div>
            </div>
          </section>
          <div class="container text-center">
              <h1 class="aaa pt-5"> 
                   <b> Why should you join the Edunomics Affiliate program?</b>
              </h1>
              <p class="pt-5" style="font-size: 20px">
                   <b> Edunomics Affiliate Program is a leading B2B affiliate program which will help you earn a passive income by
    
                        promoting one of the fastest growing companies worldwide. </b>
              </p>
              <img src="../../assets/image/affiliate.png" alt="">
              <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">
    
          
            <!-- Grid row -->
            <div class="row text-center pt-4">
          
              <!-- Grid column -->
              <div class="col-md-4 mb-md-0 mb-5 ">
                    <i class="fas fa-piggy-bank fa-3x"></i>
                    <p class="pt-4" style="font-size: 20px"><b>Easy money</b></p>
                    <p>Every time you bring in a lead who is happy to sign a contract with us, we are twice as happy to share a part of the deal value with you. You get paid $5 every time you bring in a lead and 15% of the deal value when the lead becomes a paying customer. </p>
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-4 mb-md-0 mb-5">
                    <i class="fas fa-credit-card fa-3x"></i>
              <p class="pt-4" style="font-size: 20px"><b>On-time Payment</b></p>
              <p>It cannot get sweeter than this. You just take care of spreading the word about Edunomics and leave the rest to us. We will ensure you are paid on-time for your efforts and in your local currency, for your convenience.</p>
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-4">
                  <i class='fas fa-bullhorn' style='font-size:36px'></i>
               <p class="pt-4" style="font-size: 20px"><b>Promoting made easy</b></p>
               <p>Promoting the products has never been easier. All you need to do from your end is let the world know about our amazing products and share a referral link with them. We will provide all the support you need, to be successful, from our end.</p>
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row -->
          
          </section>
          <!-- Section: Team v.2 -->
          </div>
          <div class="jumbotron text-center" style="margin-top: 35px;background-color: #005688">
            <h2><b style="color:#fff">How to become a part of Edunomics Affiliate Program</b></h2>
            <section class="team-section text-center my-5">
    
          
                    <!-- Grid row -->
                    <div class="row text-center pt-4">
                  
                      <!-- Grid column -->
                      <div class="col-md-4 mb-md-0 mb-5 ">
                          <i class='far fa-address-card' style='font-size:36px;color:#fff'></i>
    
                         <p style="font-size: 20px"><b style="color:#fff">Step 1:</b></p>
                         <p  style="font-size: 20px"> <b  style="color:#fff">Signup for the program</b></p>
                      </div>
                      <!-- Grid column -->
                  
                      <!-- Grid column -->
                      <div class="col-md-4 mb-md-0 mb-5">
                          <i class="fa fa-share-alt" style="font-size:36px;color:#fff"></i>
                          <p style="font-size: 20px"><b  style="color:#fff">Step 2:</b></p>
                          <p  style="font-size: 20px"><b  style="color:#fff"S>Share your unique link</b></p>
                      </div>
                      <!-- Grid column -->
                  
                      <!-- Grid column -->
                      <div class="col-md-4">
                        <i class="fas fa-wallet" style="font-size:36px;color:#fff"></i>
                           <p style="font-size: 20px"><b  style="color:#fff"S>Step 3:</b></p>
                           <p  style="font-size: 20px"><b  style="color:#fff"S>Sit back and watch money pour into your account</b></p>
                      </div>
                    
                      <!-- Grid column -->
                  
                    </div>
                    <!-- Grid row -->
                  
                  </section>
                  <button type="button" style="font-size:20px;" class="btn bbt btn-outline-white btn-rounded waves-effect">START YOUR JOURNEY NOW</button>
                  <!-- Section: Team v.2 -->
                  </div>
    
    
                  <!--freshwork start-->
                  <section>
                    <div class="container text-center">
                        <h1 class="pt-5"> 
                            <b> Become a part of Edunomics!
                              </b>
                       </h1>
                       <p class="pt-5" style="font-size: 20px">
                            <b>With Edunomics, you don't sell a product, you sell an experience! </b>
                       </p>
    
                    </div>
                  </section>
                  <section>
                    <div class="container mb-5">
                    <div class="row">
                      <div class="col-sm-6 ">
                        <p class="ppp"style="font-size: 18px"><b>Edunomics Affiliate program is an opportunity for you to make<br>
                         money by promoting business software made by a leader in the <br>
                         SaaS industry.The list of products includes, but not limited to:</b>
    
                          </p><br>
                          <ul style="list-style-type:disc;" >
                          <li><b>Desk - A helpdesk software</b></li><br>
                          
                           <li><b>Service - An IT Service desk software</b></li><br>
                               
                            <li><b>Sales - A Customer Relationship Management software</b></li><br>
                             
                              <li><b>Chat - A modern Live Chat software</b></li><br>
                               
                                <li><b>Marketer - A Marketing Automation software</b></li><br>
                                 
                                </ul>
                      </div>
                      <div class="col-sm-6">
                       <img src="../../assets/image/33.png" class="bb">
                      </div>
                    </div>
                    </div>
                  </section>
    
                  <section class="jumbotron text-center" style="margin-top: 35px;background-color: #005688">
                    <div class="container-fluid jumbotron-heading text-center ">
                    <h1><b style="color:#fff">Join us today to be a part of something exciting and start making money.</b> </h1>
                    <div class="pt-4">
                   
                    <button type="button" style="font-size:20px;" class="btn bbt btn-outline-white btn-rounded waves-effect">BECOME A EDUNOMICS AFFILIATE</button>
                  </div>
                    </div>
                  </section>
                    
 <!-- footer -->
 <footer class="text-light f1">
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5>BLOGS</h5>
            
                <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ml-3">Edunomics Tech Solution</h5>
            <p style="margin-left: 15%;color:white">contact@edunomics.in</p>
            </div>
            <hr>
            <p style="margin-left: 15%;color:white">BUSINESS HOURS <br>24*7</p>
          <hr>
           <!-- Social buttons -->
      <div class="row">
          <span>
            <p class="edu">2019 : Edunomics</p>
          </span>
         <div>
                       <ul class="list-unstyled lu list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="wh" mdbWavesEffect>
              <mdb-icon fab icon="whatsapp"></mdb-icon>
            </a>
          </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
          </div>
          
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a routerLink="/come">Custom Software Development</a></li>
                    <li><a routerLink="/come"> Mobile Software Development</a></li>
                    <li><a routerLink="/come">Software Prototyping</a></li>
                    <li><a routerLink="/come"> Dedicated Development Teams</a></li>
                    <li><a routerLink="/come">Software Maintenance Program</a></li>
                    <li><a routerLink="/come">Software Product Development</a></li>
                    <li><a routerLink="/come">Quality Assurance</a></li>
                    <li><a routerLink="/come">Legacy Software Migration</a></li>
                    <li><a routerLink="/come"> DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a routerLink="/come">DMS</a></li>
                    <li><a routerLink="/come">SMS</a></li>
                    <li><a routerLink="/come">CMS</a></li>
                    <li><a routerLink="/come">IOT</a></li>
                    <li><a routerLink="/come">Mobile</a></li>
                    <li><a routerLink="/come">Web Applications</a></li>
                    <li><a routerLink="/come">Cost Finder</a></li>
                    <li><a routerLink="/come">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/career">- Career</a></li>
                    <li><a routerLink="/Affiliate-Programme">- Affiliate Program</a></li>
                    <li><a routerLink="/about">- About Us</a></li>
                    <li><a routerLink="how-we-work">- How we work</a></li>
                    <li><a routerLink="/come">- Startups</a></li>
                    <li><a routerLink="/bolg">- Blog</a></li>
                    <li><a routerLink="/whitepaper">- White Paper</a></li>
                    <li><a routerLink="/contact">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a routerLink="/come">Education</a></li>
                    <li><a routerLink="/come">Retail & Wholesale</a></li>
                    <li><a routerLink="/come">Construction</a></li>
                    <li><a routerLink="/come">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
     
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/solution">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>

<footer class="text-light f2">
    <div class="container">
        <h5 class="font-weight-bold" style="text-align: center;  margin-left:10px;">Edunomics Tech Solution</h5>
        <h6 style="text-align: center;">9082626356</h6>
        <h6 style="text-align: center;">Business Hours</h6>
        <p style="text-align: center;">24*7</p>
        <h6 style="text-align: center;">contact@edunomics.in</h6>
        <hr>
        <h5 class="font-weight-bold" style="text-align: center;">Quick Links</h5>
       <a class="nav-link" routerLink="/about"><h6 style="text-align: center;">About Us</h6></a>
       <a class="nav-link" routerLink="/team"><h6 style="text-align: center;">Our Team</h6></a>
         <a class="nav-link" routerLink="/blog"><h6 style="text-align: center;">Our Blog</h6></a>
        <a class="nav-link" routerLink="/solution"><h6 style="text-align: center;">Solution</h6></a>
        <hr>
        
 <!-- Social buttons -->
 <div class="row row1">
    <div class="col-sm-6 column">
      <p class="">2019 : Edunomics</p>
    </div>
   <div class="col-sm-6 column">
                 <ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="fb" mdbWavesEffect>
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="tw" mdbWavesEffect>
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
      <mdb-icon fab fab icon="google-plus"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="li" mdbWavesEffect>
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
      <!-- <a routerLink="#" mdbBtn floating="true" color="wh" mdbWavesEffect>
        <mdb-icon fab icon="whatsapp"></mdb-icon>
      </a> -->
      <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whats" fab icon="whatsapp"></mdb-icon></a>
    </li>
</ul>
</div>

</div>

<!-- Social buttons -->
      </div>

      <hr>
      <!-- Copyright -->
   
</footer>
<div class="row last1 fixed-bottom">
    <div class="col-sm-6">
        <!-- <a mdbBtn floating="true" color="wh" mdbWavesEffect>
            
          </a>  -->
          <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whats" fab icon="whatsapp"></mdb-icon></a>
          <span>
              <a mdbBtn floating="true" color="ph" mdbWavesEffect>
              <mdb-icon class="phone" fas icon="phone-volume"></mdb-icon></a></span>
    </div>
</div>
  
        </body>
    